.leagueInvite {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80svh;
	width: 100svw;
	&__container {
		width: max-content;
		height: 65svh;
		background-color: rgba(58, 70, 91, 0.5);
		color: #fff;
		padding: 1rem 3rem;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	&__details {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__header {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			font-size: 24px;
			font-weight: 700;
			color: #fff;
			line-height: 32px;
			margin-top: 0.25em;
			margin-bottom: 0.5em;
		}
		p {
			font-size: 14px;
			font-weight: 500;
			color: $font-light-contrast;
		}
	}
	&__user {
		margin-top: 4rem;
		display: flex;
		gap: 1rem;
		align-items: center;
		img {
			max-height: 45px;
			max-width: 45px;
			border-radius: 16px;
		}
	}
	&__actions {
		margin-top: 2rem;
	}

	&__activeMembers {
		// margin-top: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__members {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&--title {
			font-size: 20px;
			font-weight: 600;
			color: #fff;
			line-height: 28px;
			margin-top: 0.25em;
			margin-bottom: 0.5em;
		}
	}
	&__currentMembers {
		// margin-top: 2rem;
		display: flex;
		gap: 1.5rem;
	}
}
