.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 102;
}

.modal.settings.small {
	position: unset;
	width: unset;
	height: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 102;

	.modal-backdrop {
		position: absolute;
		transition: unset;
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		.modal-item {
			position: absolute;
			left: 50svw;
			top: 13svh;
			transform: unset;
			width: max-content;
			.modal-content {
				margin: 0;
			}
		}
	}
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.1s linear;
	background-color: rgba(216, 226, 237, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 103;
}

.modal-item {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.modal-content {
	margin-top: 2rem;
	padding: 1rem 2.5rem;
}

.create-league-modal {
	width: 680px;
	height: 576px;
	padding: 24px;
	border-radius: 24px;

	box-shadow: 1px 1px 10px #18202f;
	width: 60svw;
	height: 80svh;
	min-width: 300px;
	min-height: 200px;
	background: #283245;
	overflow: auto;
	border-radius: 10px;
	color: #fff;
	background: #2d3649;

	.leagueForm {
		&__actions {
			display: flex;
			justify-content: center;
			margin-top: 2rem;
		}
		label {
			text-transform: uppercase;
			color: $font-light-contrast;
			font-weight: 600;
			padding: 0 0 1em 0;
			display: flex;
			align-items: center;
			gap: 1em;
		}
		input {
			background: $bg-dark-120;
			padding: 1em;
			border-radius: 8px;
			border: 1px solid #393945;
			font-size: 16px;
			color: #fff;
			width: 100%;
		}
		select {
			background: $bg-dark-120;
			padding: 1em;
			border-radius: 8px;
			border: 1px solid #393945;
			font-size: 16px;
			color: #fff;
			width: 100%;
			border-right: 1em solid transparent;
		}

		#name,
		#maxPlayers,
		#isPublic,
		#password {
			margin-bottom: 1rem;
		}
	}

	.modal-header {
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;

		.progress {
			width: 25%;
			flex-direction: column;
			gap: 1em;
			span {
				font-size: 14px;
				font-weight: 500;
			}

			&__bar {
				width: 100%;
				height: 6px;
				margin-left: 0;
			}
		}
	}

	.stepHeader {
		color: #fff;
		text-align: center;
		margin-bottom: 2rem;
		h2 {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 1rem;
		}
		p {
			max-width: 70%;
			margin: auto;
		}
	}
}

.current-league-modal {
	width: max-content;
	height: auto;
	border-radius: 24px;
	box-shadow: 1px 1px 10px #18202f;
	background: #283245;
	color: #fff;
	background: #2d3649;
	z-index: 104;

	&-settings-item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 1rem;

		&:hover {
			filter: brightness(0.8);
			cursor: pointer;
		}

		h4 {
			font-size: 20px;
			font-weight: 600;
			color: #fff;
			line-height: 32px;
		}
		p {
			font-size: 13px;
			font-weight: 400;
			color: $font-light-contrast;
		}
	}
}

.login-modal {
	width: 50svw;
	height: 80svh;
	border-radius: 24px;
	box-shadow: 1px 1px 10px #18202f;
	background: #283245;
	color: #fff;
	background: #2d3649;
	z-index: 104;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;

	.login {
		width: 75%;
	}
}

.profile-picture-modal {
	width: max-content;
	height: 80svh;
	max-width: 70svw;
	padding: 24px;
	border-radius: 24px;

	box-shadow: 1px 1px 10px #18202f;
	min-width: 300px;
	min-height: 200px;
	background: #283245;
	overflow: auto;
	border-radius: 10px;
	color: #fff;
	background: #2d3649;
	.modal-header {
		display: flex;
		justify-content: flex-end;
	}

	.modal-content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-top: 0.6rem;
		&--title {
			text-align: center;
			h2 {
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 0.25rem;
				line-height: 32px;
			}
		}

		.profilePictureSelector {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1em;
			margin-top: 2rem;
			&__item {
				max-width: 150px;
				max-height: 150px;
				border-radius: 16px;
				img {
					width: 100%;
					height: 100%;
					border-radius: 16px;
					filter: saturate(0%) brightness(100%) contrast(100%);
					&:hover {
						filter: unset;
						cursor: pointer;
					}
				}
				&.active {
					img {
						filter: unset;
					}
				}
			}
			&__actions {
				margin-top: 2rem;
			}
		}
	}
}
