@import "./components/sidebar";
@import "./components/featuredLeagues";
@import "./components/leagueFilter";
@import "./components/leagueDisplay";
@import "./components/sportSelector";
@import "./components/settings";
@import "./components/userLeagues";
@import "./components/membersList";
@import "./components/dataTest";

.pickemsApp {
	height: 100vh;
	width: 100vw;
	background: #181c28;
	overflow: hidden;
	display: flex;
	-ms-overflow-style: none;

	.sideBar {
		width: 25%;
	}
	.body {
		position: relative;
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		overflow: scroll;
		box-sizing: border-box;
		padding: 1em 2em;
		.hero {
			max-width: 100%;
			margin: auto;
			border-radius: 16px;
			position: relative;
			img {
				max-height: 350px;
				width: 100%;
				object-fit: fill;
				object-position: center;
				border-radius: 16px;
			}
			h3 {
				position: absolute;
				top: 0;
				transform: translate(0, 40%);
				font-size: 64px;
				width: 100%;
				height: 100%;
				text-align: center;
				// color: #000;
				font-weight: 800;
				text-transform: uppercase;
				text-shadow: 1px 1px 2px #0000009a;
			}
		}

		.activeLeagues {
			&__header {
				color: #fff;
				padding: 2em;
				display: flex;
				align-items: center;
				height: 88px;
				box-sizing: border-box;
				h2 {
					font-size: 24px;
					font-weight: 800;
					line-height: 32px;
					span {
						font-weight: 600;
						font-size: 20px;
					}
				}
			}
		}
	}
}

.colorTest {
	display: flex;
	justify-content: space-between;
	&__item {
		background-color: $modal-bg-dark-120;
		height: 100px;
		aspect-ratio: 1;
		border-radius: 8px;
		margin-right: 1rem;
		&:nth-child(2) {
			background-color: $bg-dark-120;
		}
		&:nth-child(3) {
			background-color: $bg-dark-130;
		}
		&:nth-child(4) {
			background-color: $bg-dark-140;
		}
	}
}
