$accent-green: #aaff3f;
$accent-green-highlight: #9afe20;
$bg-dark-110: #131423;
$bg-dark-120: #121320;
$bg-dark-130: #13151e;
$bg-dark-140: #050614;
$accent-blue: #6773a8;
$modal-bg-dark-120: #35373c;

$bg-light-120: #1f202d;
$bg-light-130: #2c2c39;

$font-light: #7a7983;
$font-light-contrast: #93939c;

$font-size: 14px;
$header-size: 32px;
$subheading-size: 24px;

$color-overlay: linear-gradient(
	to right,
	rgba(21, 25, 42, 0.9) 0%,
	rgba(21, 25, 42, 0.7) 50%,
	rgba(21, 25, 42, 0.5) 80%,
	rgba(31, 36, 62, 0.2) 100%
);

$item-colors: #53fce8, #53fc5b, #fc8e53, #a753fc, #f153fc, #fc4545, #fbe72e;
