.membersList {
	&__header {
		margin-bottom: 1.5rem;
		font-size: 24px;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-content: center;
	}
	&__member {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// margin-bottom: 1rem;
		padding: 1rem;
		&:hover {
			cursor: pointer;
			background: #1f2431;
			border-radius: 16px;
		}
	}

	&__details {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;

		img {
			border-radius: 16px;
			height: 40px;
			width: 40px;
			margin-right: 1rem;
		}
	}

	&__controls {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(0, 35%);
	}
}
