.settings {
	display: flex;
	flex-direction: row-reverse;
	height: 100%;

	&__main {
		padding: 38px 40px;
		height: 100%;
		box-sizing: border-box;
		color: #fff;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	&__header {
		&--title {
			font-weight: bold;
			font-size: 20px;
			letter-spacing: 0.3px;
			margin-bottom: 20px;
			color: #fff;
		}
		&--text {
			letter-spacing: 0.2px;
			line-height: 1.64;
			color: #a3bbd3;
			font-size: 14px;
		}
	}

	.form-item-wrap {
		margin-top: 35px;
	}

	.form-container .text-input {
		width: 100%;
		max-width: 420px;
	}

	.form-elements.text-input {
		position: relative;
	}

	.form-elements {
		position: relative;
		display: inline-block;
	}

	.form-elements label {
		font-size: 10px;
		font-weight: bold;
		color: #b1b1b1;
	}

	.form-elements input {
		border: none;
		border-bottom-width: medium;
		border-bottom-style: none;
		border-bottom-color: currentcolor;
		border-bottom: 1px solid #a3bbd3;
		background: none;
		color: #fff;
		width: 100%;
		padding: 7px 0;
		font-size: 14px;
		outline: none;
		transition: all 0.3s ease;
		opacity: 0.7;
		box-sizing: border-box;
	}

	.form-elements.text-input .spinner {
		position: absolute;
		right: 3px;
		bottom: 3px;
		width: 16px !important;
		height: 16px !important;
		display: none;
	}

	.spinner.grey {
		border: 0.25rem solid rgba(0, 0, 0, 0.05);

		border-top-color: rgba(0, 0, 0, 0.05);

		border-top-color: #ccc;
	}

	.form-elements .validation-msg {
		position: absolute;
		padding: 12px 12px;
		background: #fff;
		color: #333;
		box-shadow: 2px 2px 7px #333;
		font-size: 12px;
		bottom: -17px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 14px;
		border-radius: 4px;
		color: #ff9800;
		display: none;
		white-space: nowrap;
		z-index: 9999;
	}

	.form-elements .right-wrap {
		position: absolute;
		right: 0;
		bottom: 8px;
	}

	.bottom-wrap {
		padding: 35px 0;
	}

	&__profilePicture {
		margin-top: 0.5rem;
		max-width: 420px;
		height: auto;
		position: relative;
		img {
			width: 100px;
			height: 100px;
			border-radius: 16px;
		}
		.editProfilePicture {
			width: 100px;
			height: 100px;
			border-radius: 16px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
			color: #fff;
			font-size: 24px;
			background: #61707ed4;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition: ease-in-out 0.2s;
		}

		.editProfilePicture:hover {
			opacity: 1;
			cursor: pointer;
		}
	}

	&__subNav {
		-webkit-flex: 0 0 290px !important;
		-ms-flex: 0 0 290px !important;
		flex: 0 0 290px !important;
		padding: 24px;
		-webkit-flex: 0 0 200px;
		-ms-flex: 0 0 200px;
		flex: 0 0 200px;
		border-right: 1px solid #61707e;
		overflow: auto;
		display: flex;
		flex-direction: column;

		.sub-nav-content {
			flex-grow: 1;
			.nav-section {
				margin-bottom: 16px;
				.nav-section-header {
					font-size: 11px;
					color: #fff;
					text-transform: uppercase;
					font-weight: bold;
					padding: 0;
					margin-bottom: 8px;
				}
				.nav-item {
					color: white;
					align-items: center;
					display: flex;
					font-size: 15px;
					cursor: pointer;
					color: #7988a1;
					position: relative;
					padding: 12px;
					box-sizing: border-box;
					border-radius: 16px;
					margin: 1px 0;
					&.active {
						font-weight: 600;
						color: #fff;
						background-color: rgba(58, 70, 91, 0.25);
					}
					div {
						// margin-bottom: 4px;
						line-height: 20px;
					}
				}
			}
		}
	}
}
