.currentLeague {
	&__header {
		color: #fff;
		padding: 2em;
		display: flex;
		align-items: center;
		height: 88px;
		box-sizing: border-box;
		h2 {
			font-size: 24px;
			font-weight: 800;
			line-height: 32px;
		}
		span {
			font-size: 18px;
			font-weight: 800;
			line-height: 32px;
			color: #b9c4d4;
			margin-left: 1rem;
		}
	}
	&__controlBar {
		display: flex;
		justify-content: space-between;
	}
	&__settings {
		color: #fff;
		padding: 2em;
		display: flex;
		align-items: center;
		height: 88px;
		box-sizing: border-box;
	}

	&__main {
		display: flex;
		gap: 1rem;
	}

	&__paper {
		height: 80svh;
		padding: 1rem;
		background: rgba(58, 70, 91, 0.5);
		border-radius: 16px;
	}
	.xl {
		width: 75%;
	}

	.sm {
		width: 25%;
	}
}
