.container {
    max-width: 1400px;
    margin: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredWrapper {
    width: 75%;
    margin: auto;
    display: flex;
    gap: 3rem;
}

.introCopy {
    width: 50%;
    align-self: center;
    img {
        width: 100%;
    }
    p {
        font-weight: $body-weight;
    }
}

.authForm {
    width: 50%;
    padding: 1rem;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,0.3), 0 18px 36px 7px rgba(0,0,0,0.3);
    border-radius: $power-border-radius;
}

.authForm-btn {
    margin-top: 1rem !important;
    padding: 1rem 0 !important;
}

.authForm-btn--secondary {
    background: $powerPink !important;
    margin-top: 1rem !important;
}

.authForm-forgot {
    padding: 0 !important;
    margin: 1rem 0 !important;
}

.footerContainer {
    max-width: 1400px;
    margin: auto;
    height: 10vh;
    justify-content: center;
    align-items: center;
}