body {
	background: $bg-dark-130;
	color: #fff;
	font-family: "Poppins";
	font-size: $font-size;
}

.btn {
	padding: 1rem 1.5rem;
	background: $bg-light-120;
	border: none;
	color: #fff;
	vertical-align: middle;
	border-radius: 8px;
	font-size: $font-size;
	// text-transform: uppercase;
	font-weight: 400;
	line-height: 1;
	cursor: pointer;
	&:hover {
		background: $bg-light-130;
		// color: $bg-dark-130;
	}

	&--cta {
		background: $accent-green;
		color: $bg-dark-130;
		border: none;
		&:hover {
			background: $accent-green-highlight;
			// color: $bg-dark-130;
		}
	}
}

.container {
	max-width: 80%;
	margin: auto;
}
