body {
	// background: $bg-dark-130;
	color: #fff;
	font-family: "Poppins";
	font-size: $font-size;
}

.pickemsApp {
	background-color: $bg-dark-140;
	min-height: 100vh;
}

.app {
	background-color: $bg-dark-130;
	min-height: 100vh;
}

.btn {
	padding: 1rem 1.5rem;
	background: $bg-light-120;
	border: none;
	color: #fff;
	vertical-align: middle;
	border-radius: 8px;
	font-size: $font-size;
	// text-transform: uppercase;
	font-weight: 400;
	line-height: 1;
	cursor: pointer;
	&:hover {
		background: $bg-light-130;
		// color: $bg-dark-130;
	}

	&--cta {
		background: $accent-green;
		color: $bg-dark-130;
		border: none;
		&:hover {
			background: $accent-green-highlight;
			// color: $bg-dark-130;
		}
	}
}

.container {
	max-width: 75%;
	margin: auto;
}

.vHidden {
	display: none;
}

.page {
	&--signup {
		display: flex;
		justify-content: space-between;
		// gap: 2rem;
		align-items: center;
	}
}

.error {
	border-color: red !important;
}
