$accent-green: #aaff3f;
$accent-green-highlight: #9afe20;
$background-dark: #13151e;
$accent-blue: #6773a8;

$bg-light-120: #1f202d;
$bg-light-130: #2c2c39;

$font-light: #7a7983;

$font-size: 14px;
$header-size: 32px;
$subheading-size: 24px;
