$powerBlue: #2d79bf;
$powerBlue--dark: #133250;
$powerPink: #df72ff;
$powerDark: #040404;

$linkColor--light: #fff;
$linkColor--hover: #dbdbdb;

$body-weight: 500;
$header-weight: 600;

$body-size: 18px;
$header-size: 24px;

$section-padding: 2rem 0;

$power-border-radius: 10px;
$power-gradient: $powerBlue, $powerPink;