@for $i from 1 through length($item-colors) {
	.featuredLeagues__item--#{$i} {
		background-color: nth($item-colors, $i);
	}
}

.featuredLeagues {
	h2 {
		font-size: 18px;
	}
	&__list {
		margin-top: 2rem;
		margin-bottom: 2rem;
		display: flex;
		align-items: center;
		width: 100%;
		overflow-x: auto;
		white-space: nowrap;
	}

	&__add {
		position: absolute;
		top: 8px;
		right: 8px;
		font-size: 30px;
		cursor: pointer;
		z-index: 100;
	}

	&__item {
		min-height: 120px;
		min-width: 270px;
		border-radius: 16px;
		display: flex;
		padding: 1em;
		align-items: center;
		position: relative;
		margin-right: 3em;
		&::after {
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: $color-overlay;
		}

		&--0 {
			background-color: $accent-green-highlight;
		}

		&Details {
			z-index: 100;
			font-size: 12px;
			h3 {
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
}
