.leagueFilter {
	grid-gap: 16px;
	box-sizing: border-box;
	align-items: center;
	font-size: 0.85rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: flex;
	overflow-x: scroll;
	width: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin-bottom: 2rem;

	&__item {
		display: grid;
		align-items: center;
		justify-items: center;
		place-items: center;
		grid-gap: 7px;
		gap: 7px;
		color: #aaa;
		box-sizing: border-box;
		border-radius: 8px;
		padding: 7px;
		background-color: #121320;
		height: 80px;
		border: 2px solid transparent;
		text-align: center;
		min-width: 80px;
		font-size: 16px;

		&:hover {
			cursor: pointer;
			color: white;
			background-color: #005801;
			border-color: $accent-green;
		}

		&:hover .sport__icon {
			filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(230deg)
				brightness(100%) contrast(100%);
		}

		.sport__icon {
			font-size: 20px;
		}

		&.active {
			cursor: pointer;
			color: white;
			background-color: #005801;
			border-color: $accent-green;
		}
	}
}
