.header {
	width: 80%;
	margin: auto;
	min-height: 75px;
	display: flex;
	justify-content: space-between;
	padding: 2rem 0;

	.brand {
		width: 25%;
		cursor: pointer;
		img {
			max-width: 70%;
		}
	}

	.siteNavigation {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 65%;

		&__list {
			width: 70%;
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: center;
			&--actions {
				display: flex;
				align-items: center;
				gap: 1rem;
			}
		}

		&__item {
			cursor: pointer;
			color: $font-light;
			&:hover {
				color: #fff;
				border-bottom: 1px solid #fff;
			}
		}
	}
}

.header {
	.siteNavigation {
		width: 80%;
	}
	.siteNavigation.compressed {
		justify-content: flex-start;
		.siteNavigation__item {
			color: #00bfff;
			font-size: 12px;
		}
	}
}
