.header {
	width: 90%;
	margin: auto;
	min-height: 75px;
	display: flex;
	justify-content: space-between;
	padding: 1em 2em;

	.brand {
		width: 25%;
		img {
			max-width: 70%;
		}
	}

	.siteNavigation {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 65%;

		&__list {
			width: 70%;
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: center;
		}

		&__item {
			cursor: pointer;
			&:hover {
				border-bottom: 1px solid #fff;
			}
		}
	}
}
